@model IEnumerable<QuizCreator.Models.Question>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Question</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.Name</td>
            </tr>
        }
    </tbody>
</table>

